# Virtual muhit
.venv/
venv/
env/
ENV/

# Maxfiy fayllar
.env
.env.*
!.env.example

# PyCharm / JetBrains
.idea/
*.iml

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
build/
dist/

# Ma'lumotlar bazasi va loglar
*.sqlite3
*.db
*.log

# Tizim fayllari
.DS_Store
Thumbs.db